<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_batch.mybatis.mappers.TestMapper">
    <select id="selectAllOfTestData" resultType="Integer">
		<![CDATA[
        	SELECT *
        	FROM TEST_TABLE
			ORDER BY test_id desc
        ]]>
	</select>
	<insert id="insertOneTestData">
		<![CDATA[
			INSERT INTO TEST_TABLE(num)
			VALUES(1)
		]]>
	</insert>
</mapper>