<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_batch.mybatis.read.mappers.ReadTestMapper">
    <select id="selectAllOfTestData" resultType="Integer">
		<![CDATA[
        	SELECT *
        	FROM TEST_TABLE
			ORDER BY test_id
			OFFSET ${_skiprows} ROWS FETCH NEXT ${_pagesize} ROWS ONLY
        ]]>
	</select>
	<select id="selectPartitionOfTestData" resultType="Integer">
		<![CDATA[
		SELECT *
		FROM TEST_TABLE
		WHERE test_id BETWEEN ${minTestId} AND ${maxTestId}
		ORDER BY test_id
		OFFSET ${_page} * ${_pagesize}
		LIMIT ${_pagesize}
		]]>
	</select>
	<select id="selectMinMaxByTestId" resultType="HashMap">
		<![CDATA[
		SELECT MIN(test_id) AS MIN_TEST_ID
			 , MAX(test_id) AS MAX_TEST_ID
		FROM TEST_TABLE
		]]>
	</select>
</mapper>